.app {

  .sidebar {
    position: fixed;
    background-color: #fff;
    z-index: 1;
    
    .sidebar-space {
      height: 56px;
      background-color: #fff;
    }

    .sidebar__content {
      background: #fff;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      .sidebar__content__items {
        background: #fff;
        flex: 1;
        overflow: hidden;
        height: calc(100vh - 56px);
        position: fixed;

        &:hover {
          overflow-y: scroll;
          background: #fff;
        }

        &::-webkit-scrollbar {
          width: 20px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #d6dee1;
          border-radius: 20px;
          border: 6px solid transparent;
          background-clip: content-box;
        }

        &:hover::-webkit-scrollbar-thumb {
          background-color: rgb(144,144,144);
        }

        .section__sidebar {
          width: 220px;
          display: block;

          .section__sidebar__items {
            position: relative;
            background: #fff;

            .section__items {
              padding: 12px  0px;
              border-bottom: 1px solid rgba(0,0,0, 0.1);
              display: block;

              .items {
                display: block;
                position: relative;
                width: 100%;
                min-height: 40px;

                .item_link {
                  min-height: 40px;
                  cursor: pointer;
                  box-sizing: border-box;
                  outline: 0;
                  color: #030303;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  padding: 0 24px;
                  min-width: 0;
                  height: 40;
                  width: inherit;

                  .item_icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 24px;
                  }

                  .item_title {
                    color: #030303;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 0.875rem;
                    font-weight: 500;
                    line-height: 1.8rem;
                    letter-spacing: normal;
                    flex: 1;
                  }

                  &:hover {
                    background-color: #f2f2f2;
                  }

                  &.active {
                    &:hover {
                      background-color: #bfbfbf;
                    }

                    background-color: #e5e5e5;

                    .item_title {
                      font-weight: 700;
                    }
                  }

                }
              }

              .items-section {
                padding-top: 12px;
                margin-top: 12px;
                border-top: 1px solid rgba(0,0,0,0.1);
                display: block;
                position: relative;
                width: 100%;
                min-height: 40px;

                h3 {
                  color: #606060;
                  display: block;
                  padding: 8px 24px;
                  font-size: 13px;
                  font-weight: 700;
                  letter-spacing: 0.5px;
                  text-transform: uppercase;
                }

                .item_link {
                  min-height: 40px;
                  cursor: pointer;
                  box-sizing: border-box;
                  outline: 0;
                  color: #030303;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  padding: 0 24px;
                  min-width: 0;
                  height: 40;
                  width: inherit;

                  .item_icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 24px;
                  }

                  .item_title {
                    color: #030303;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 0.875rem;
                    font-weight: 500;
                    line-height: 1.8rem;
                    letter-spacing: normal;
                    flex: 1;
                  }

                  &:hover {
                    background-color: #f2f2f2;
                  }

                  &.active {
                    &:hover {
                      background-color: #bfbfbf;
                    }

                    background-color: #e5e5e5;

                    .item_title {
                      font-weight: 700;
                    }
                  }

                }
              }
            }
          }

          .sidebar-footer {
            .footer-primary {
              padding: 16px 24px 0;

              .guide-item-primary {
                display: inline-block;
                text-decoration: none;
                color: #606060;
                white-space: nowrap;
                font-size: 13px;
                font-weight: 500;
                line-height: 18px;
              }
            }

            .footer-secondary {
              padding: 12px 24px 0;
              .guide-item-secondary {
                display: inline-block;
                text-decoration: none;
                color: #606060;
                white-space: nowrap;
                font-size: 13px;
                font-weight: 500;
                line-height: 18px;
              }
            }

            .copyright {
              padding: 16px 24px;
              color: #909090;
              text-transform: none;
              font-size: 12px;
              line-height: 18px;
              font-weight: 400;

              .text-copyright {
                display: inline;
              }
            }
          }
        }
      }
    }
  }

  .header-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transform: translateY(0);
    transition: transform 0.3s ease;
    background-color: #fff;

    .header {
      padding: 0px 16px;
      height: 56px;

      .header__left__items {
        .menubar {
          .btn-menu {
            width: 40px;
            height: 40px;
            padding: 8px;
            box-sizing: border-box;
            border: none;
            background-color: transparent;
          }
        }

        .logo {
          width: 120px;

          a {
            padding: 0;
            align-items: center;
            flex: none;
            display: flex;
            flex-direction: row;
            align-self: center;

            .top-logo {
              padding: 18px 14px 18px 16px;
              display: inline-flex;
            }
          }
        }
      }

      .header__middle__items {
        flex-direction: row;
        flex: 0 1 728px;
        min-width: 0px;

        .input__box {
          margin: 0 0 0 40px;
          padding: 0 4px;
          flex: 1;
          flex-basis: 0.000000001px;

          .search__box {
            height: 40px;
            position: relative;
            flex: 1;
            flex-basis: 0.000000001px;
            display: flex;
            flex-direction: row;

            .input-search {
              position: relative;
              align-items: center;
              background-color: hsl(0, 0%, 100%);
              border: 1px solid #ccc;
              border-right: none;
              border-radius: 2px 0 0 2px;
              box-shadow: inset 0 1px 2px #eee;
              color: hsl(0, 0%, 6.7%);
              padding: 2px 6px;
              flex: 1;
              flex-basis: 0.000000001px;
              display: flex;
              flex-direction: row;


              input {
                background-color: transparent;
                border: none;
                box-shadow: none;
                color: inherit;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin-left: 4px;
                max-width: 100%;
                outline: none;
                text-align: inherit;
                width: 100%;
                flex: 1;
                flex-basis: 0.000000001px;
              }
            }

            .btn-search {
              border: 1px solid #d3d3d3;
              background-color: #eee;
              border-radius: 0 2px 2px 0;
              cursor: pointer;
              height: 40px;
              width: 64px;
              margin: 0;
              padding: 7px;
            }

          }
        }

        .voice__search {
          margin-left: 4px;
          border-radius: 100px;
          background-color: #f9f9f9;

          .btn-voice {
            width: 40px;
            height: 40px;
            padding: 8px;
            box-sizing: border-box;
            border: none;
            border-radius: inherit;
            cursor: pointer;
          }
        }
      }

      .header__right__items {
        min-width: 225px;
        justify-content: center;

        .header-options {
          flex-direction: row;

          .video-adds {
            margin-right: 8px;
            outline: none;
            color: #030303;

            .btn-add {
              color: inherit;
              width: 40px;
              height: 40px;
              padding: 8px;
              border: none;
              box-sizing: border-box;
              background-color: transparent;
              cursor: pointer;
            }
          }

          .youtube-apps {
            margin-right: 8px;
            outline: none;
            color: #030303;

            .btn-apps {
              color: inherit;
              width: 40px;
              height: 40px;
              padding: 8px;
              border: none;
              box-sizing: border-box;
              background-color: transparent;
              cursor: pointer;
            }
          }

          .notifications {
            margin-right: 8px;
            outline: none;
            color: #030303;

            .btn-notification {
              color: inherit;
              width: 40px;
              height: 40px;
              padding: 8px;
              border: none;
              box-sizing: border-box;
              background-color: transparent;
              cursor: pointer;
            }
          }

          .avatar-profiles {
            display: flex;

            .btn-avatar {
              padding: 1px 6px;
              background: none;
              border: none;
              outline: none;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              img {
                border-radius: 50%;
                width: 32px;
                height: 32px;
                margin: 0 8px;
                background-color: transparent;
                overflow: hidden;
              }
            }
          }


        }
      }


    }
  }

  .home-container {
    display: block;
    overflow-y: auto;
    margin-top: 56px;
    
    &.app-browse {
      margin-left: 240px;
    }

    .browse-app {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;

      .home__two__column {
        flex: none;
        margin-bottom: 16px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;

        #primary {
          max-width: 100%;
          min-height: 0;

          .grid {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            .header {
              width: 100%;
              display: flex;

              .filter {
                width: 100%;
                height: 100px;
                display: flex;

                .filter-tags {
                  position: fixed;
                  top: 56px;
                  width: calc(100vw - 240px);
                  height: 56px;
                  background-color: #fff;
                  border-top: 1px solid #ccc;
                  border-bottom: 1px solid #ccc;
                  display: flex;
                  justify-content: center;
                  flex: none;

                  .scroll-container {
                    position: relative;
                    white-space: nowrap;
                    overflow: hidden;
                    overflow-x: auto;

                    .tag {
                      transition-duration: 0.15s;
                      transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
                      will-change: transform;
                      display: inline-block;
                      white-space: nowrap;
                      padding: 0;
                      
                      .tag-item {
                        height: 32px;
                        min-width: 12px;

                        border: 1px solid #ccc;
                        border-radius: 16px;
                        box-sizing: border-box;
                        outline: none;
                        overflow: hidden;
                        cursor: pointer;
                        user-select: none;

                        position: relative;
                        flex-direction: row;
                        align-items: center;
                        display: inline-flex;

                        text-align: center;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0.2px;
                        
                        background-color: rgba(0,0,0,0.05);
                        color: #030303;

                        padding: 0 12px;
                        margin: 12px;
                        margin-left: 0;
                        margin-right: 12px;

                        &.active {
                          margin-left: 24px;
                          background-color: #030303;
                          color: #fff;
                        }
                      }
                    }
                  }

                  .left-arrow {
                      left: 0;
                      position: absolute;
                      height: 100%;
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      z-index: 20;
                      user-select: none;

                      &::after {
                        height: 100%;
                        width: 50px;
                        content: "";
                        pointer-events: none;
                        background: linear-gradient(to right, rgba(255,255,255,0.98) 20%, rgba(255,255,255,0) 80%);
                      }

                      &.disabled {
                        visibility: hidden;
                        display: none;
                        pointer-events: none;
                      }

                      .left-arrow-button {
                        background-color: rgba(255, 255, 255, 0.98);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .button-arrow {
                          border-radius: 16px;
                          height: 32px;
                          width: 32px;
                          margin: 12px 12px;
                          display: flex;
                          align-items: center;
                          justify-content: center;

                          a {
                            color: inherit;
                            border-radius: inherit;
                            text-decoration: none;
                            display: flex;

                            .btn {
                              line-height: 1;
                              padding: 10px;
                              width: 40px;
                              height: 40px;

                              &.btn-left {
                                color: inherit;
                                text-transform: inherit;
                                background-color: transparent;
                                vertical-align: middle;
                                outline: none;
                                border: none;
                                background: none;
                                margin: 0;
                                padding: 10px;
                                width: 100%;
                                height: 100%;
                                line-height: 0;
                                cursor: pointer;

                                .left-icon {
                                  display: inline-flex;
                                  align-items: center;
                                  justify-content: center;
                                  position: relative;
                                  vertical-align: middle;
                                  fill: rgb(3,3,3);
                                  stroke: none;
                                  width: 24px;
                                  height: 24px;
                                  margin: 0;
                                  padding: 4px;
                                }
                              }
                            }
                          }
                        }
                      }
                  }

                  .right-arrow {
                    right: 0;
                    position: absolute;
                    height: 100%;
                    z-index: 20;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    &::before {
                      height: 100%;
                      width: 50px;
                      content: "";
                      pointer-events: none;
                      background: linear-gradient(to left, rgba(255,255,255,0.98) 20%, rgba(255,255,255,0) 80%);
                    }

                    &.disabled {
                      visibility: hidden;
                      display: none;
                      pointer-events: none;
                    }

                    .right-arrow-button {
                      background-color: rgba(255, 255, 255, 0.98);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .button-arrow {
                          border-radius: 16px;
                          height: 32px;
                          width: 32px;
                          margin: 12px 12px;
                          display: flex;
                          align-items: center;
                          justify-content: center;

                          a {
                            color: inherit;
                            border-radius: inherit;
                            text-decoration: none;
                            display: flex;

                            .btn {
                              line-height: 1;
                              padding: 10px;
                              width: 40px;
                              height: 40px;

                              &.btn-next {
                                color: inherit;
                                text-transform: inherit;
                                background-color: transparent;
                                vertical-align: middle;
                                outline: none;
                                border: none;
                                background: none;
                                margin: 0;
                                padding: 10px;
                                width: 100%;
                                height: 100%;
                                line-height: 0;
                                cursor: pointer;

                                .next-icon {
                                  display: inline-flex;
                                  align-items: center;
                                  justify-content: center;
                                  position: relative;
                                  vertical-align: middle;
                                  fill: rgb(3,3,3);
                                  stroke: none;
                                  width: 24px;
                                  height: 24px;
                                  margin: 0;
                                  padding: 4px;
                                }
                              }
                            }
                          }
                        }
                    }
                  }

                }
              }
            }
          }
        }
      }
    }
  }


}