* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  width: 100%;
  background-color: #fff;
  font-family: sans-serif;
}
li {
  overflow: hidden;
  font-size: 18px;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.container {
  width: 85%;
  margin: 0px auto;
}
.d__flex {
  display: flex;
}
.align__items__center {
  align-items: center;
}
.justify__content__space__beetween {
  justify-content: space-between;
}
.justify__content__center {
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #000;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.col__2 {
  width: 50%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.col__3 {
  width: 33.33%;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}
.col__4 {
  width: 25%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px 0px;
  justify-content: center;
}
.pointer {
  cursor: pointer;
}
.px__15 {
  padding: 15px;
}
.pxy__10 {
  padding: 0px 10px;
}
.mxy__10 {
  margin: 0px 10px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.z__index {
  z-index: 12;
}
.d__block {
  display: block;
}
.pointer {
  cursor: pointer;
}
.pl-5 {
  padding-left: 5px;
}
.f__400 {
  font-weight: 400;
}
.p__b {
  padding-bottom: 8px;
}
.m-10 {
  margin: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.m-8 {
  margin: 8px;
}
.pbt-30 {
  padding: 15px 50px;
}
.px-20 {
  padding: 0px 20px;
}
.f__direction__column {
  flex-direction: column;
}
.mx-5 {
  margin: 0px 5px;
}
.black {
  color: #000;
}
.mtb-20 {
  margin: 20px 0px;
}
.bold-800 {
  font-weight: 800;
}
.bold-600 {
  font-weight: 600;
}
.white {
  color: #fff;
}
.lh-1 {
  line-height: 1;
}
.ls-l {
  letter-spacing: -0.05em !important;
}
.container {
  width: 85%;
  margin: 0px auto;
  overflow: hidden;
}
.mxy__30 {
  margin-right: 30px;
}
.my__30 {
  padding: 0px 30px;
}
.mxy__15 {
  margin: 0px 15px;
}

.btn {
  appearance: auto;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

